button {
  cursor: pointer;
}

.contained {
  font-weight: 600;
  border-radius: 8px;
  color: var(--textAccent);
}

.primary {
  background-color: var(--primary);
  width: 185px;
  padding: 10px 0;
}

.light {
  background-color: var(--textLight);
  width: 122px;
  padding: 7px 0;
  font-size: 12px;
}

.outlined {
  font-weight: 600;
  color: var(--textDark);
  border-radius: 24px;
  width: 100px;
  padding: 3px 0;
  background-color: var(--bg);
  font-size: 12px;
}

.taken {
  border: 2px solid var(--primary);
}

.available {
  border: 2px solid var(--secondary);
}

.waiting {
  border: 2px solid #ffe96d;
}

.disabled {
  cursor: default;
  background-color: var(--textLight);
}
