.wrapper {
  display: flex;
  gap: 48px;
}

.buttonsWrapper {
  display: flex;
  gap: 32px;
}

.accountWrapper {
  display: flex;
  align-items: center;
  gap: 17px;
  cursor: pointer;
  position: relative;
}

.item {
  color: var(--text);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.active {
  color: var(--primary);
}

.rotateArrow {
  transform: rotate(180deg);
}
