.wrapper {
  border-radius: 16px;
  background-color: var(--bg);
  padding: 26px 32px;
  display: flex;
  flex-direction: column;
}

.booksWrapper {
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

.button {
  padding: 10px 38px;
  margin: 36px auto 0;
}
