.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 96px;
}

.logo {
  cursor: pointer;
}
