.wrapper {
  border-radius: 8px;
  border: 2px solid var(--primary);
  display: flex;
  align-items: center;
  padding: 13px;
  min-width: 500px;
}

.input {
  color: var(--textDark);
  font-size: 16px;
  padding-left: 16px;
  min-width: 215px;
  box-sizing: content-box;
}

.input::placeholder {
  color: var(--textLight);
}
