.wrapper {
  border-radius: 8px;
  border: 2px solid var(--textLight);
  display: flex;
  align-items: center;
  padding: 13px;
  min-width: 500px;
}

.wrapper:focus-within {
  border-color: var(--primary);
}

.input {
  color: var(--textDark);
  font-size: 16px;
  padding-left: 16px;
  box-sizing: content-box;
  width: 100%;
  background-color: transparent;
}

.input::placeholder {
  color: var(--textLight);
}
