@import url("./fonts.css");
@import url("./reset.css");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--textDark);
  line-height: 1.36em;
  min-width: 320px;
  box-sizing: border-box;
}

:root {
  --primary: #ff5d4f;
  --secondary: #85c8ee;
  --secondaryLight: #d3ebf9;
  --bg: #ffffff;
  --textDark: #000000;
  --text: #616161;
  --textLight: #b5b5b5;
}
