.wrapper {
  border-radius: 8px;
  max-width: 394px;
  background-color: var(--bg);
  margin: auto;
  padding: 26px 37px 21px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 40px;
}

.img {
  width: 81px;
  height: 81px;
  margin: auto;
}

.buttonAvatar {
  padding: 7px 19px;
  width: 122px;
  margin: 16px auto 26px;
}

.label {
  color: var(--textDark);
  font-weight: 600;
}

.buttonSave {
  padding: 6.9px 23px;
  margin: 0 auto;
  width: 122px;
}
