.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 40px 32px;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 32px;
}

.errorInput {
  border-color: red;
}

.errorMessage {
  color: red;
  max-width: 310px;
  padding-bottom: 12px;
}

.button {
  width: 100%;
}

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.closeIcon:hover {
  filter: brightness(0.8);
}
